html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

body {
	color: #000000;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	padding: 0 10px;
	vertical-align: top;
}
input[type="submit"] {
	color: #fff;
	background-color: #fd2222;
	border: none;
	height: 32px;
}
p {
	margin: 20px 0;
}

