<link rel="stylesheet" href="\static\css\navbar.css\">

<div>
    <nav class="navbar">
        <div class="container-center-ul">
            <div class="img-center">              
                <a href="/"><img src="/static/images/IPlast-logo.png" alt="IPlast-logo"></a>
            </div>              
            <ul class="nav-ul-class">                                    
                <li class="content-navbar-a"><a href="#">Товары</a></li>
                <li class="content-navbar-a"><a href="#">Личный кабинет</a></li>
                <li class="content-navbar-a"><a href="/login/">Войти</a></li>                                     
            </ul>                                       
        </div>  
    </nav>
</div>
